.background {
  viewport-fill: none;
}

#lowBattery {
  y: 68%;
}

#medBattery {
  y: 34%;
}

#highBattery {
  y: 0%;
}

#heartContainer {
  x:50%-20;
  y:20%-20;
}

#heartIcon {
  x:50%-10;
  y:20%-10;
  fill:fb-red;
}

#heartGauge {
  x:50%-20;
  y:20%-20;
  fill: fb-red;
}

#heartText {
  x: 50%;
  y: 20%+35;
  fill: fb-red;
}

#stepsContainer {
  x:50%-20;
  y:40%-20;
}

#stepsIcon {
  x:50%-10;
  y:40%-10;
  fill: fb-cyan;
}

#stepsGauge {
  x:50%-20;
  y:40%-20;
  fill:fb-cyan;
}

#stepsText {
  x: 50%;
  y: 40%+35;
  fill: fb-cyan;
}

#amContainer {
  x:50%-20;
  y:60%-20;
}

#amIcon {
  x: 50%-10;
  y:60%-10;
  fill: fb-mint;
}

#amGauge {
  x: 50%-20;
  y:60%-20;
  fill: fb-mint;
}

#amText {
  x: 50%;
  y: 60%+35;
  fill: fb-mint;
}

#calorieContainer {
  x: 50%-20;
  y:80%-20;
}

#calorieIcon {
  x: 50%-10;
  y:80%-10;
  fill:fb-peach;
}

#calorieGauge {
  x: 50%-20;
  y:80%-20;
  fill: fb-peach;
}

#calorieText {
  x: 50%;
  y: 80%+35;
  fill: fb-peach;
}

#gregDate {
  font-size: 25;
  font-family: Colfax-Light;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 50%-35;
}

#topLine {
  y: 50%-30;
}

#time {
  font-size: 50;
  font-family: Colfax-Black;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 50%+20;
}

#botLine {
  y: 50%+30;
}

#hebDate {
  font-size: 25;
  font-family: Colfax-Light;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 50%+55;
}

#eventTopLine {
  y:13%-5;
}

#event {
  font-size: 22;
  font-family: Colfax-Light;
  text-length: 32;
  text-anchor: middle;
  display-align: center;
  x: 5%;
  y: 13%;
  width: 90%;
  height: 48;
}

#eventBotLine {
  y:13%+53;
}

#candles {
  x:50%-60;
  y:0;
  height: 24;
  width: 24;
  display: none;
}

#candleTimes {
  x: 50%;
  y: 75%;
  font-size: 22;
  text-length: 32;
  text-anchor: middle;
}

.batteryGauge {
  x: 5%;
  width: 90%;
  height: 32%;
}

.clockLine {
  x: 0;
  width: 100%;
  height: 1;
}

.eventLine {
  width: 20%;
  x: 40%;
  height: 1;
  display: none;
}

.statContainer {
  width: 40;
  height: 40;
  fill: fb-slate-press;
  start-angle: 0;
  sweep-angle: 360;
  arc-width: 3;
}

.statGauge {
  width: 40;
  height: 40;
  start-angle: 0;
  sweep-angle: 0;
  arc-width: 3;
}

.statIcon {
  width: 20;
  height: 20;
}

.statText {
  font-size: 16;
  font-family: Colfax-Light;
  text-length: 10;
  text-anchor: middle;
}
